@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');
@import 'vars.scss';

/* Base Application Styles */
body {
  margin: 0;
}

.index {
  height: 100%;
  min-height: 1200px;
  color: #36435a;
  background-color: #f4f6f8;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
a {
  cursor: pointer;
  color:#333;
}

/* Grid layout */
.grid-row {
  display: grid;
  grid-template-areas: 'title  buttons';
  grid-gap: 0px;
  overflow: hidden;
}
.row-title {
  grid-area: title;
  align-self: center;
  min-width: 180px;
}
.row-buttons {
  grid-area: buttons;
  align-self: center;
  display: flex;
  margin-left: auto;
  overflow: hidden;
}


/* Bootstrap button with tweaks */
.btn {
  display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #999;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin: 0 8px;
  cursor: pointer;
}
.btn.btn-success {
  background-color: #60c796;
  border-color: #60c796;
}
.btn.btn-success:hover {
  background-color: #20aa57;
  border-color: #20aa57;
}
.btn.btn-success:disabled {
  color: white;
  background-color: #c3f0db;
  border-color: #c3f0db;
  cursor:not-allowed;
}
.btn.btn-secondary {
  color: white;
  background-color: #8f9fb2;
  border-color: #8f9fb2;
}
.btn.btn-secondary:hover {
  color: white;
  background-color: #6f7f92;
  border-color: #6f7f92;
}

/* Server alert styles */
.server-alert .success {
   color: #60c796;
   border: 1px solid #60c796;
}
.server-alert .success a {
   color: #60c796;
   }
.server-alert .fail {
   color: Crimson;
   border: 1px solid Crimson;
}
.server-alert .fail a {
   color: Crimson;
}
.show {
  opacity: 1;
  right: 50px;
}
.hide {
  opacity: 0;
  right: -200px;
}

.show-modal {
  opacity: 1;
  top: 250px;
  z-index: 1;
}
.hide-modal {
  opacity: 0;
  top: 10px;
  z-index: -1;
}

input {
  line-height: 1em;
}
form {
  display: flex;
}
#add-task-modal .input-text {
  width: 350px;
  font-size: 2em;
}

/*CSS Transition styles*/
.item-enter {
  transform: translateX(100%);
  /*opacity: 0.01;*/
}

.item-enter.item-enter-active {
  transform: translateX(0px);
  /*opacity: 1;*/
  transition: all 500ms ease-in;
}

.item-leave {
  transform: translateX(0px);
  /*opacity: 1;*/
}

.item-leave.item-leave-active {
  transform: translateX(100%);
  /*opacity: 0.01;*/
  transition: all 300ms ease-in;
}
